body{
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 95%);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 55%;
    height: 100vh;
}



section p {
    font-size: 1em;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    word-break: break-word;
    line-height: 1.6rem;
}

section h1 {
    font-size: 2.5em;
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
}

.sedans{
    background-color: hsl(31, 77%, 52%);
    border-radius: 7px 0 0 7px;
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 7px 7px 0;
}

.sedans, .suvs, .luxury {
    padding: 2.5em;
    height: 45vh;
}

button {
    font-size: 1em;
    margin-top: 5vh;
    font-family: 'Lexend Deca', sans-serif;
    position: absolute;
    padding: .9em 2.5em .9em 2.5em;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.sedans button {
    color: hsl(31, 77%, 52%);;
}

.suvs button {
    color: hsl(184, 100%, 22%);;
}

.luxury button {
    color: hsl(179, 100%, 13%);;
}

button:hover {
    border: 2px solid aliceblue;
    color: aliceblue;
    background-color: transparent;
    cursor: pointer;
}

@media screen and (max-width: 1300px) {
    section {
        width: 60%;
    }
    button {
        margin-top: 0;
    }

    .sedans {
        height: 65vh;
    }
    .suvs {
        height: 65vh;
    }
    .luxury {
        height: 65vh;
    }
}

@media screen and (max-width: 600px) {
    section {
        width: 80%;
        display: block;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    button {
        margin-top: 0;
    }

    .sedans {
        border-radius: 7px 7px 0 0;
        min-height: 45;
        padding: 3em;
    }
    .suvs {
        height: 45;
        min-height: 45vh;
        padding: 3em;
    }
    .luxury {
        height: 45;
        border-radius: 0 0 7px 7px;
        min-height: 45vh;
        padding: 3em;
    }
}